ul {
  list-style-type: none;
}

ul {
  list-style: none;
}

ul li {
  background-color: #cbc8c4;
  padding: 5px;
  border-radius: 5px;
}

ul li:hover {
  background-color: #3c70bd;
}
ul li:selected {
  background-color: #fff;
}

.board {
  position: relative;
  margin: auto;
  margin-top: 10%;
  /* top: 20%; */
  /* left: 5%; */
  /* display: grid; */
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  display: none;
}

.cell {
  /* position: relative; */
  /* display: table; */
  width: 100px;
  height: 100px;
  border: 1px solid #006666;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:first-child,
:nth-child(2),
:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:last-child,
:nth-child(8),
:nth-child(7) {
  border-bottom: none;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.cell.x::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #006666;
  transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.cell.x::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 5px;
  background-color: #006666;
  transform: rotate(-45deg);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.cell.circle::before {
  content: "";
  position: absolute;
  height: 94px;
  width: 90px;
  background-color: #006666;
  /* transform: rotate(45deg); */
  border-radius: 50%;
  /* display: inline-block; */
}

.board.circle .cell:not(.x):not(.circle):hover::after,
.cell.circle::after {
  content: "";
  position: absolute;
  height: 84px;
  width: 80px;
  /* background-color: #94b8b8; */
  background-color: #d2e0e0;
  border-radius: 50%;
}

/* .board.circle .cell:not(.x):not(.circle):hover::after, */

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  background-color: #94b8b8;
}
